        {% extends 'base.html.twig' %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {% form_theme mailingForm 'bootstrap_3_layout.html.twig' %}

        {% block title %}Učiace sa Slovensko{% endblock %}

        {% block body %}
        <!-- ======== @Region: #highlighted ======== -->
        <div id="highlighted">
          <div class="inner">
            <!--Static Banner-->
            <section class="static-banner container">
              <div class="slide">
                  <div class="col-md-12 caption">
                      <div class="jumbotron">
                        <div class="jumbo-less">
                          <p>
                              Veľmi pekne Vám ďakujeme za záujem podieľať sa na zlepšení vzdelávania na Slovensku formou podania pripomienok alebo podnetov k zverejnenému návrhu Národného programu rozvoja výchovy a vzdelávania <strong>„Učiace sa Slovensko“</strong>.
                          </p>
                          <p>
                          Pripravili sme pre Vás formulár, ktorý zohľadňuje jednotlivé témy a ponúka užívateľský komfort. Zároveň nám pomôže s triedením a aplikáciou Vašich zaujímavých pripomienok alebo podnetov.
Jedinečná možnosť podieľať sa touto formou na tvorbe Národného programu rozvoja výchovy a vzdelávania „Učiace sa Slovensko“ bude pre odbornú, ale aj širokú verejnosť prístupná po dobu šiestich týždňov.
                          </p>
                          <p>
                          Podnety tím autorov po ukončení pripomienkovania vyhodnotí a spracuje pri definitívnom dopracovaní záverečnej verzie návrhu Národného programu rozvoja výchovy a vzdelávania “Učiace sa Slovensko”, ktorý predloží ministrovi školstva.
                          </p>
                          <p>
                          Na to, aby Váš hlas prispel k tomuto diskurzu je potrebné, aby sa vyjadrilo čo najviac z Vás, aby podnety boli vecné a sledovali cieľ zlepšenia finálneho textu. Vítame akúkoľvek vecnú kritiku v nádeji, že posunie naše úsilie o lepšie školstvo a lepšie podmienky pre vzdelávanie sa všetkých nás.
                          </p>
                          <p>
                          Všetky príspevky, ktoré budú obsahovať vecné komentáre a návrhy k dokumentu „Učiace sa Slovensko“ budú  zverejnené.
                          </p>
                          <p>
                          Príspevky, ktoré sa netýkajú tém výchovy a vzdelávania alebo príspevky, ktoré by mohli byť v rozpore so zákonom (napríklad podnecovanie násilia proti skupine obyvateľov alebo jednotlivcovi, hanobenie národa, rasy alebo presvedčenia, podnecovanie k národnostnej a rasovej nenávisti, a pod.) a dobrým občianskym spolužitím (napr. osobné invektívy) uverejnené nebudú.
                          </p>
                          <p>
                          Tešíme sa z Vášho záujmu a veríme, že spoločne vytvoríme dokument, ktorý bude nadčasový, apolitický a ktorý bude zohľadňovať potreby občanov Slovenskej republiky.
                          </p>
                        </div>
                      </div>
                      <blockquote>
                          <p>Máme už {{count}} podnetov. Pridajte ten svoj!</p>
                      </blockquote>
                      <a href="#add-suggestion" class="btn btn-lg btn-primary center-block">Pridať podnet</a>
                  </div>
              </div>
          </section>
      </div>
    </div>

    <div id="content-below" class="wrapper">
      <div class="container">
        <div class="row">
          <div class="upsell">
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
      <!--Customer testimonial-->
      <div class="block testimonials margin-top-large"> <a name="suggestion-categories"></a>
        <h2 class="title-divider">
          <span>Kategórie <span class="de-em">podnetov</span></span>
          <small>Kliknutím na kategóriu prezerajte podnety.</small>
      </h2>
      <div class="row">
          <div class="panel-group" id="list-accordion">
              {% for category in categories %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="{{path('category', {id: category.id})}}" aria-expanded="false" class="collapsed"> {{category.title}} </a>
                        </h4>
                      </div>
                      <div id="collapseCategory{{loop.index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      </div>
                    </div>
              {% endfor %}

          </div>
      </div>
      </div>
        <!-- Services -->
        <div class="block features">
          <h2 class="title-divider"><a name="add-suggestion"></a>
            <span>Pridať <span class="de-em">podnet</span></span>
            <small>Pridajte váš podnet na zlepšenie školstva.</small>
        </h2>
        <div class="row">
            {{ form_start(form, { 'attr' : { 'class': 'form-wrapper' } }) }}
                {{ form_errors(form) }}

                {{ form_row(form.category) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.organization) }}
                {{ form_row(form.email) }}
                {{ form_row(form.text, { 'attr': { 'rows': '20' }}) }}
            {{ form_end(form) }}
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below" class="wrapper">
      <div class="container">
    </div>
    </div>
    {% endblock %}

{% block scripts %}
{% if showThanks %}
<script type="text/javascript">
    $(function() {
        toastr.success('Ďakujeme! Váš podnet bol odoslaný na schválenie a objaví sa tu čoskoro.');
    });
</script>
{% endif %}
{% endblock %}
