        {% extends 'base.html.twig' %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {% form_theme mailingForm 'bootstrap_3_layout.html.twig' %}

        {% block title %}Učiace sa Slovensko{% endblock %}

        {% block body %}
        <!-- ======== @Region: #highlighted ======== -->
        <div id="highlighted">
          <div class="inner">
            <!--Static Banner-->
            <section class="static-banner container">
              <div class="slide">
                  <div class="col-md-12 caption">
                      <div class="jumbotron">
                        <div class="jumbo-less">
                          Učiace sa Slovensko
                          <br/><br/>
                          <strong>Narodny program rozvoja vychovy a vzdelavania</strong>
                          <br/><br/>
                          Lorem Ipsum
                          <strong><a href="#" class="show-jumbo-more">čítať viac.</a></strong>
                        </div>

                          <div class="jumbo-more" style="display:none">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                          </div>
                      </div>
                      <blockquote>
                          <p>Máme už {{count}} podnetov. Pridajte ten svoj!</p>
                      </blockquote>
                      <a href="#add-suggestion" class="btn btn-lg btn-primary center-block">Pridať podnet</a>
                  </div>
              </div>
          </section>
      </div>
    </div>

    <div id="content-below" class="wrapper">
      <div class="container">
        <div class="row">
          <div class="upsell">
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
      <!--Customer testimonial-->
      <div class="block testimonials margin-top-large"> <a name="suggestion-categories"></a>
        <h2 class="title-divider">
          <span>Kategórie <span class="de-em">podnetov</span></span>
          <small>Tu vidíte 4 najnovšie a 4 najpopulárnejšie podnety pre jednotlivé kategórie</small>
      </h2>
      <div class="row">
          <div class="panel-group" id="list-accordion">
              {% for category in categories %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseCategory{{loop.index}}" aria-expanded="false" class="collapsed"> {{category.title}} <small class="text-muted">
                                      {% transchoice category.allSuggestions|length %}

                                      {0} Ešte žiadne podnety|{1} Jeden podnet |]1,4] %count% podnety celkovo |]4,Inf] %count% podnetov celkovo

                                      {% endtranschoice %}
                                    </small> </a>
                        </h4>
                      </div>
                      <div id="collapseCategory{{loop.index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            {% if category.newestSuggestions is not empty %}
                            <h4>Najnovšie podnety</h4>
                            <div class="panel-group panel-group-list-style" id="list-accordion-inner">
                            {% for sug in category.newestSuggestions %}
                                <div class="panel panel-default">
                                  <div class="panel-heading"> <a data-toggle="collapse" data-parent="#list-accordion-inner" href="#collapse{{category.id}}{{loop.index}}" class="panel-title collapsed" aria-expanded="false">Pridané v kategórii <strong>{{sug.category}}</strong> dňa <em>{{sug.created |date("d. m. Y")}}</em>  <span class="pull-right"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="votes-for-{{sug.id}}">{{sug.votes|length}}</span></span></a> </div>
                                  <div id="collapse{{category.id}}{{loop.index}}" class="collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p class="pull-right">
                                            <a href="#" class="btn btn-primary" style="color: #ccc" data-vote="{{sug.id}}">Hlasuj</a>
                                        </p>
                                        <p>{{sug.text|nl2br}}</p>
                                    </div>
                                  </div>
                                </div>
                            {% else %}
                            {% endfor %}
                            </div>
                            <h4>Najpopulárnejšie podnety</h4>
                            <div class="panel-group panel-group-list-style" id="list-accordion-inner2">
                            {% for sug in category.popularSuggestions |slice(0, 4) %}
                                <div class="panel panel-default">
                                  <div class="panel-heading"> <a data-toggle="collapse" data-parent="#list-accordion-inner2" href="#collapse{{category.id}}p{{loop.index}}" class="panel-title collapsed" aria-expanded="false">Pridané v kategórii <strong>{{sug.category}}</strong> dňa <em>{{sug.created |date("d. m. Y")}}</em>  <span class="pull-right"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="votes-for-{{sug.id}}">{{sug.votes|length}}</span></span></a> </div>
                                  <div id="collapse{{category.id}}p{{loop.index}}" class="collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p class="pull-right">
                                            <a href="#" class="btn btn-primary" style="color: #ccc" data-vote="{{sug.id}}">Hlasuj</a>
                                        </p>
                                        <p>{{sug.text|nl2br}}</p>
                                    </div>
                                  </div>
                                </div>
                            {% endfor %}
                            </div>
                            <a href="{{path('category', {id: category.id})}}" class="btn btn-default pull-right"><i class="fa fa-arrow-circle-right"></i> Prezerať všetky</a>
                            {% else %}
                            <p>Žiadne podnety v tejto kategórii ešte neboli pridané.</p>
                            {% endif %}
                        </div>
                      </div>
                    </div>
              {% endfor %}

          </div>
      </div>
      </div>
        <!-- Services -->
        <div class="block features">
          <h2 class="title-divider"><a name="add-suggestion"></a>
            <span>Pridať <span class="de-em">podnet</span></span>
            <small>Pridajte váš podnet na zlepšenie školstva.</small>
        </h2>
        <div class="row">
            {{ form_start(form, { 'attr' : { 'class': 'form-wrapper' } }) }}
                {{ form_errors(form) }}

                {{ form_row(form.category) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.text, { 'attr': { 'rows': '20' }}) }}
            {{ form_end(form) }}
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below" class="wrapper">
      <div class="container">
    </div>
    </div>
    {% endblock %}

{% block scripts %}
{% if showThanks %}
<script type="text/javascript">
    $(function() {
        toastr.success('Ďakujeme! Váš podnet bol odoslaný na schválenie a objaví sa tu čoskoro.');
    });
</script>
{% endif %}
{% endblock %}
