        {% extends 'base.html.twig' %}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {% form_theme mailingForm 'bootstrap_3_layout.html.twig' %}

        {% block title %}Učiace sa Slovensko{% endblock %}

        {% block body %}
        <!-- ======== @Region: #highlighted ======== -->
        <div id="highlighted">
          <div class="inner">
            <!--Static Banner-->
            <section class="static-banner container">
              <div class="slide">
                  <div class="col-md-12 caption">
                      <div class="jumbotron">
                        <div class="jumbo-less">
                          <p>
                              Veľmi pekne Vám ďakujeme za záujem podieľať sa na zlepšení slovenského systému školstva formou podania pripomienok alebo podnetov k zverejnenému návrhu <strong>Národného programu rozvoja výchovy a vzdelávania „Učiace sa Slovensko“.</strong>
                          </p>
                          <p>
                              Pripravili sme pre Vás formulár, ktorý zohľadňuje jednotlivé témy a ponúka užívateľský komfort. Zároveň nám pomôže s triedením a aplikáciou Vašich zaujímavých pripomienok alebo podnetov.
                          </p>
                          <p>
                              Jedinečná možnosť podieľať sa touto formou na tvorbe <strong>Národného programu rozvoja výchovy a vzdelávania „Učiace sa Slovensko“</strong> bude pre odbornú, ale aj širokú verejnosť prístupná po dobu šiestich týždňov.
                          </p>
                          <p>
                              <strong>Tešíme sa z Vášho záujmu a veríme, že spoločne vytvoríme dokument, ktorý bude nadčasový, apolitický a ktorý bude zohľadňovať potreby občanov Slovenskej republiky.</strong>
                          </p>
                        </div>
                      </div>
                      <blockquote>
                          <p>Máme už {{count}} podnetov. Pridajte ten svoj!</p>
                      </blockquote>
                      <a href="#add-suggestion" class="btn btn-lg btn-primary center-block">Pridať podnet</a>
                  </div>
              </div>
          </section>
      </div>
    </div>

    <div id="content-below" class="wrapper">
      <div class="container">
        <div class="row">
          <div class="upsell">
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
      <!--Customer testimonial-->
      <div class="block testimonials margin-top-large"> <a name="suggestion-categories"></a>
        <h2 class="title-divider">
          <span>Kategórie <span class="de-em">podnetov</span></span>
          <small>Tu vidíte 4 najnovšie a 4 najpopulárnejšie podnety pre jednotlivé kategórie</small>
      </h2>
      <div class="row">
          <div class="panel-group" id="list-accordion">
              {% for category in categories %}
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="{{path('category', {id: category.id})}}" aria-expanded="false" class="collapsed"> {{category.title}} <small class="text-muted">
                                      {% transchoice category.allSuggestions|length %}

                                      {0} Ešte žiadne podnety|{1} Jeden podnet |]1,4] %count% podnety celkovo |]4,Inf] %count% podnetov celkovo

                                      {% endtranschoice %}
                                    </small> </a>
                        </h4>
                      </div>
                      <div id="collapseCategory{{loop.index}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      </div>
                    </div>
              {% endfor %}

          </div>
      </div>
      </div>
        <!-- Services -->
        <div class="block features">
          <h2 class="title-divider"><a name="add-suggestion"></a>
            <span>Pridať <span class="de-em">podnet</span></span>
            <small>Pridajte váš podnet na zlepšenie školstva.</small>
        </h2>
        <div class="row">
            {{ form_start(form, { 'attr' : { 'class': 'form-wrapper' } }) }}
                {{ form_errors(form) }}

                {{ form_row(form.category) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.organization) }}
                {{ form_row(form.email) }}
                {{ form_row(form.text, { 'attr': { 'rows': '20' }}) }}
            {{ form_end(form) }}
        </div>
    </div>
    </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below" class="wrapper">
      <div class="container">
    </div>
    </div>
    {% endblock %}

{% block scripts %}
{% if showThanks %}
<script type="text/javascript">
    $(function() {
        toastr.success('Ďakujeme! Váš podnet bol odoslaný na schválenie a objaví sa tu čoskoro.');
    });
</script>
{% endif %}
{% endblock %}
